<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>H11CustomWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>H11 Export XML</description>
    <display-name>ExportXMLServlet</display-name>
    <servlet-name>ExportXMLServlet</servlet-name>
    <servlet-class>com.atex.h11.custom.web.export.ExportXMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportXMLServlet</servlet-name>
    <url-pattern>/ExportXMLServlet</url-pattern>
    <url-pattern>/ExportXML</url-pattern>
    <url-pattern>/exportxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>H11 Update Metadata Servlet</description>
    <display-name>UpdateMetadataServlet</display-name>
    <servlet-name>UpdateMetadataServlet</servlet-name>
    <servlet-class>com.atex.h11.custom.web.metadata.UpdateMetadataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMetadataServlet</servlet-name>
    <url-pattern>/UpdateMetadataServlet</url-pattern>
    <url-pattern>/UpdateMetadata</url-pattern>
    <url-pattern>/updatemetadata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>H11 Update Child Metadata Servlet</description>
    <display-name>UpdateChildMetadataServlet</display-name>
    <servlet-name>UpdateChildMetadataServlet</servlet-name>
    <servlet-class>com.atex.h11.custom.web.metadata.UpdateChildMetadataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateChildMetadataServlet</servlet-name>
    <url-pattern>/UpdateChildMetadataServlet</url-pattern>
    <url-pattern>/UpdateChildMetadata</url-pattern>
    <url-pattern>/updatechildmetadata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>H11 Update Multiple Metadata Servlet</description>
    <display-name>UpdateMultiMetadataServlet</display-name>
    <servlet-name>UpdateMultiMetadataServlet</servlet-name>
    <servlet-class>com.atex.h11.custom.web.metadata.UpdateMultiMetadataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMultiMetadataServlet</servlet-name>
    <url-pattern>/UpdateMultiMetadataServlet</url-pattern>
    <url-pattern>/UpdateMultiMetadata</url-pattern>
    <url-pattern>/updatemultimetadata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>H11 Update Child Multiple Metadata Servlet</description>
    <display-name>UpdateChildMultiMetadataServlet</display-name>
    <servlet-name>UpdateChildMultiMetadataServlet</servlet-name>
    <servlet-class>com.atex.h11.custom.web.metadata.UpdateChildMultiMetadataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateChildMultiMetadataServlet</servlet-name>
    <url-pattern>/UpdateChildMultiMetadataServlet</url-pattern>
    <url-pattern>/UpdateChildMultiMetadata</url-pattern>
    <url-pattern>/updatechildmultimetadata</url-pattern>
  </servlet-mapping>
</web-app>